.animate__ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.animate__particles {
  display: flex;
  height: 93vh;
  width: 100%;
  overflow: hidden;
}

.animate__inside {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
}
.animate__inside > h1 {
  font-size: 45px;
}
.button__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.animate_insideColorHeader {
  color: var(--red-color);
}
.btn__animate,
.btn__watch {
  padding: 1rem;
  display: block;
  font-size: 20px;
  margin: 20px 0;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.2s;
  align-self: center;
  display: flex;
}
.btn__animate > .MuiSvgIcon-root,
.btn__watch > .MuiSvgIcon-root {
  margin-left: 10px;
  transition: 0.2s;
}
.btn__animate:hover,
.btn__watch:hover {
  background-color: var(--blue-color);
  border: 2px solid var(--blue-color);
}
.btn__animate:hover .MuiSvgIcon-root {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .btn__watch {
    padding: 6px 10px;
    font-size: 14px;
    margin: 7px 0;
  }
  .btn__watch > .MuiSvgIcon-root {
    margin-left: 5px;
    font-size: 20px;
  }
}
